.bookmarks {
  height: 100%;
}

.bookmarks-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  justify-content: center;

  &__category {
    margin-left: 30px;
    background-clip: padding-box;
  }

  &__none {
    background: $trans-light-s;
    padding: 2rem;
    border-radius: 4px;
    text-align: center;

    p {
      font-size: 1.1rem;
    }
  }

  .bookmarks-list {
    background: $trans-light-xs;
    margin: 0.5rem 0;
    border-radius: 4px;
    padding: 0.5rem;
    // for dingus
    &__title {
      // margin-bottom: 1rem;
      padding: 0.5rem;
    }

    &__favorite {
      display: flex;
      align-items: center;
      width: 100%;
      color: $text-light;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 5px;

      &.dragging {
        // transform: translateY(10px) !important;
        opacity: 0 !important;
        transform-origin: bottom;
        transition: transform opacity 50ms ease-out !important;
        transition-duration: 200ms !important;
      }

      @include transition(all);

      &--dragging {
        display: none;
      }

      &:hover,
      &:focus {
        background: $trans-light-s;
      }

      p {
        margin-left: 0.5rem;
      }

      svg {
        margin-left: auto;
        height: 2rem;
      }

      &__img {
        width: 42px;
        height: 42px;
        display: grid;
        place-items: center;

        img {
          height: 32px;
          border-radius: 4px;
        }
      }
    }
  }
}

@media (min-width: 430px) {
  .bookmarks-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 670px) {
  .bookmarks-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .bookmarks-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .bookmarks-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
