// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.nexus {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  grid-gap: 2rem;
  grid-template-rows: 1fr 1fr;
  max-width: 1280px;
  margin: auto;

  &__bookmarks {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .bookmark {
      display: flex;
      align-items: center;
      flex-flow: column;
      width: 10rem;
      color: $text-light;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 5px;
      justify-content: center;
      @include transition(all);
      text-align: center;

      &:hover,
      &:focus {
        background: $trans-light-s;
      }

      svg {
        margin-left: auto;
      }

      &__img {
        margin-bottom: 0.5rem;
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;

        img {
          height: 38px;
          border-radius: 4px;
        }
      }
    }
  }
}
