.form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-control {
    margin-top: 2rem;

    &.dropzone {
      padding: 2rem;
    }

    &__dropzone {
      padding: 2rem;
      border: 1px dashed $trans-light-s;
      display: block;
      margin: -2rem;
      border-radius: 1rem;

      @include transition(background border);

      user-select: none;

      &.grabbing {
        border: 1px dashed $opaque-light;
        background: $trans-light-s;
      }

      &__input {
        display: none;
      }

      &__preview {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          max-width: 100%;
          margin-top: 2rem;
          border-radius: 1rem;
        }
      }
    }

    &__slider {
      display: flex;
      flex-flow: column;
      padding: 1rem 2rem;

      input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 25px;
        background: $opaque-light;
        outline: none;
        opacity: 0.7;
        transition: opacity 200ms;
        height: 1px;
        margin: 2rem 0;
        border: 1px solid $opaque-light;
        border-radius: 20rem;

        &:hover {
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 1rem;
          height: 1rem;
          background: $text-light;
          cursor: grab;
          border-radius: 1rem;
        }
      }
    }
  }
}
