.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-inner {
    width: 100%;
    backdrop-filter: $blur-sm;
    height: 100vh;
    margin: 0 auto;
    align-self: center;
    border-right: 1px solid $trans-light-xs;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    &__single {
      padding: 1rem 0;
      .btn + .btn {
        margin-top: 1rem;
      }
    }
  }
}
