// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.ico-btn {
  background: none !important;
  border: 0;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-color: $trans-light-xs !important;

  svg {
    width: 23px;
    height: auto;
    color: $text-light;
  }
}

.btn {
  @include transition(border-color background);

  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: 0;

  &-default {
    backdrop-filter: $blur-sm;
    border: 1px solid $trans-light-s;
    background: $trans-light-xs;

    &:hover {
      border-color: $trans-light-s;
      background: $trans-light-s !important;
    }
  }

  &-btn {
    color: $text-light;
    font-family: $text-font-stack;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    width: 100%;

    &__reset {
      border: none;
      color: $opaque-light;
      background: none;
    }
  }

  * {
    pointer-events: none;
  }

  &-ring {
    position: absolute;
    filter: $blur-sm;
    width: 100%;
    padding-top: 100%;
    background-color: $text-light;
    transform: translate(-50%, -50%);
    animation: hamonAnim 0.5s ease-out;
    animation-iteration-count: 1;
    border-radius: 100%;
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes hamonAnim {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
