.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  backdrop-filter: $blur-sm;
  background: rgba($main-dark, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &-body {
    max-width: 90vw;
    max-height: 85vh;
    background: rgba($main-dark, 0.8);
    // background: radial-gradient(
    //   rgba($color: $text-light, $alpha: 0.1),
    //   rgba($color: $text-light, $alpha: 0.01)
    // );
    // backdrop-filter: blur(2px);
    border-radius: 8px;
    position: relative;

    &__title {
      border-bottom: 1px solid $trans-light-s;
      color: $label-light;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      padding: 1rem;

      h2 {
        font-size: 0.9rem;
      }
    }

    &__content {
      padding: 1rem 2rem;
    }
  }
  &-close {
    top: 0;
    right: 0;
    // position: absolute;
    backdrop-filter: none;
    width: 2em;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0;

    svg {
      width: 1rem;
      color: $label-light;
    }
  }
}
