.seek {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-flow: column;

  &--not-home {
    justify-content: flex-start;
    height: fit-content;
  }

  .clock {
    margin-bottom: 1rem;
    &__msg {
      font-size: 1.2rem;

      &__name {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    h2 {
      font-size: 5rem;
      line-height: 5.1rem;
    }
  }

  &-select {
    position: absolute;
    font-size: 1rem;
    right: 0;
    top: 46%;
    transform: translate(0, -50%);

    .select-bako {
      text-align: right;
    }
  }

  &-bar {
    // margin-top: 1rem;
    position: relative;
    display: flex;

    form {
      width: 100%;
      display: flex;
    }

    input {
      padding: 1rem 2rem;
      backdrop-filter: $blur-sm;
      border: 1px solid $trans-light-xs;
      border-radius: 4px;
      color: $text-light;
      width: 100%;
      width: 100%;
      outline: none;

      &::placeholder {
        color: $opaque-light;
      }

      @include transition(border-color backdrop-filter background);
      font-size: 1.2rem;

      &:focus {
        background: $trans-light-s;
        border: 1px solid $trans-light-s;
      }
    }
  }
}
