// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// @author azuradara

@mixin transition(
  $prop,
  $delay: 0.5s,
  $ease: cubic-bezier(0.14, 0.44, 0.13, 1.05),
  $schleep: 0s
) {
  $transition: ();

  @for $i from 1 through length($prop) {
    @for $j from 0 to (length($prop)) - (length($delay)) {
      $delay: join($delay, nth($delay, -1));
    }
    @for $j from 0 to (length($prop)) - (length($ease)) {
      $ease: join($ease, nth($ease, -1));
    }
    @for $j from 0 to (length($prop)) - (length($schleep)) {
      $schleep: join($schleep, nth($schleep, -1));
    }

    /* prettier-ignore */
    $transition: append(
      $transition,
      (nth($prop, $i) nth($delay, $i) nth($ease, $i) nth($schleep, $i)),
      $separator: comma,
    );
  }
  transition: $transition;
} ;
